/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  color: var(--accent-color, #000);
  font-variation-settings: "wght" var(--card-text-fw, 400);
  background-image: var(
    --bg-image,
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding-block-start: 130px;
  padding-block-end: 103px;
  border: 2px solid var(--accent-color, #000);
}

.block__size {
  background-color: var(--bg-color, #fff);
  inline-size: min(100vi, 700px);
  margin-inline: auto;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  font-weight: 400;
  line-height: 1;
  margin: 20px 0 24px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card {
  font-size: 18px;
  margin-block-end: 50px;
}

.card__title {
  font-variation-settings: "wght" var(--card-title-fw, 700);
  font-size: inherit;
  padding-block: 5px;
  padding-inline: 10px;
  border: 2px solid var(--accent-color, #000);
  border-block-end: none;
}

.card__container {
  position: relative;
  inset: 0;
}

.card__image {
  object-position: center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  outline: 2px solid var(--accent-color, #000);
  outline-offset: -2px;
}

/* фильтры */

.filter-hue_rotate {
  filter: hue-rotate(40deg);
}

.filter-sepia {
  filter: sepia(1.8);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-blur {
  filter: blur(10px);
}

.filter-saturate {
  filter: saturate(5);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-invert_hue-rotate {
  filter: invert(0.3) hue-rotate(90deg);
}

.card__image-watermark {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: 14px;
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 27px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--stroke-color, rgb(255 255 255 / 0.5)),
    0 1px var(--stroke-color, rgb(255 255 255 / 0.5)),
    1px 0 var(--stroke-color, rgb(255 255 255 / 0.5)),
    0 -1px var(--stroke-color, rgb(255 255 255 / 0.5));
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--stroke-color, rgb(255 255 255 / 0.5));
    text-stroke: 1px var(--stroke-color, rgb(255 255 255 / 0.5));
    text-shadow: none;
  }
}

.card__content {
  border: 2px solid var(--accent-color, #000);
  border-block-start: none;
  padding: 22px;
}

.card__content p:not(:last-of-type) {
  margin-block-end: 30px;
  padding-top: 2px;
  padding-left: 4px;
}

.card__paragraph {
  font-variation-settings: "wght" var(--card-text-fw, 400);
}

.card__paragraph-end {
  text-align: center;
}

.card__buttons {
  display: flex;
  justify-content: end;
  column-gap: 4px;
  margin-block-start: 25px;
}

.button {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  position: relative;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  color: var(--button-text-color, #fff);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  size: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-block-end: 4px;
}

.button__text {
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  transition: border-color 0.3s ease;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  align-self: center;
}

.save_section {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.save_button {
  display: flex;
  justify-content: center;
  gap: 8px;
  inline-size: 335px;
  block-size: 55px;
  padding-inline: 0px;
  align-items: center;
}

.floppy {
  block-size: 21px;
  inline-size: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.dialog_floppy {
  block-size: 39px;
  inline-size: 39px;
  color: #fff;
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.dialog_save[open] .dialog_section {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.dialog_save[open] {
  padding: 30px;
  inline-size: clamp(341px, calc(337px + 1.13vw), 353px);
  border: 2px solid var(--border-color);
}

.dialog_save[open]::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog__text {
  color: var(--bg-color);
  transition: color 0.5s ease;
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: inherit;
  font-weight: var(--card-text-fw), 400;
  line-height: 150%;
  text-align: left;
  width: fit-content;
  align-self: flex-start;
}

.dialog_close {
  inline-size: 100%;
  min-block-size: 38px;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 122px;
    padding-block-end: 95px;
  }

  .card__image-watermark {
    inset-block-start: 25px;
    inset-inline-end: 13px;
  }

  .save_button {
    flex-direction: column;
    gap: 8px;
    width: 312px;
    height: 84px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }
}
